@{
    Layout = "~/Areas/Admin/Views/Shared/_AreaLayout.cshtml";
}

<div class="container">
    <div class="searchbar">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="row">
                    <button class="btn btn-success">Mes biens</button><br />
                    <button class="btn btn-success">Ajouter un bien</button><br />
                    <button class="btn btn-success">Les demandes d'échanges</button><br />
                </div>
            </div>
        </div>
    </div>
</div>
